#conteiner {
	max-width: 1500px;
	margin: auto;
}
.myshop > a {
    display: inline;
    margin-left: 32%;
    font: 150px Brush Script MT;
    letter-spacing: 15px;
    color: #50a1b9;
}

.myshop {
    display: inline-block;
    width: 1180px;
}

.profile-info {
    display: inline-block;
    width: 315px;
}

.log_top {
    margin-top: 5%;
}

.log_top input:nth-child(3) {
    float: right;
}

.profile-info p > a {
    text-decoration: none;
}

nav {
	display: inline-block;
	width: 100%
}

nav > ul{
	display: inline-block;
	width: 60%;
    margin-left: 21%;
}

nav > form{
	display: inline-block;
    width: 16%;
}

.top-menu li {
	display: inline-block;
	padding: 10px 12%;
	margin: 0;
}

nav li {
	list-style-position: inside;
	font: 14px Oswald, sans-serif;
	padding: 4%;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
    text-decoration: none
}

aside {
    width: 20%;
    float: left;
}

.main_body {
    width: 75%;
    margin-left: 20%;
    text-align: center;
    min-height: 400px;
}

.aside-menu li {
    list-style-type: square;
}

.aside-menu li:first-child {
	border: none;
}

aside > h2 {
	background: #29c5e6;
	font: 90% 'Oswald', sans-serif;
	color: #fff;
	padding: 4%;
	margin: 7% 0 0 0;
    text-align: center;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

.aside-menu li a {
    text-decoration: none;
    color: #ff0909;
}

aside h2 {
    color: #ff0909;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

.footer {
    text-align: end;
}

.line {
    margin-top: 1%;
    border: none;
    box-shadow: 0 0 3px 1px black;
}

.tab {
    margin-inline: 15%;
}

.publish {
    background: #29c5e6;
    border: 1px solid;
    line-height: 2em;
    margin-bottom: 0px;
    margin-top: 20px;
}

.post {
    background: #E0FFFF;
}

.post > p {
    margin-top: 0px;
}

.products {
    position: relative;
    display: grid;
    grid-template-columns: minmax(100px, 500px) minmax(100px, 500px) minmax(100px, 500px);
    grid-template-rows: repeat(4,250px);
    grid-gap: 5px;
    height: 530px;
}

.product > a {
    display: block;
    font: 25px Times New Roman, sans-serif;
    color: #60a3dd;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.product > p {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 4%;
}

.product > img {
    height: 119px;
    display: block;
    margin-inline: auto;
}

.products .product > form {
    display: block;
    margin-top: 1%;
    text-align: center;
}

.pagination-products {
    margin-left: 18%;
    text-align: center;
    display: block;
    width: 61%;
}

.product_single {
    position: relative;
    text-align: start;
    margin-left: 5%;
    top: 50px;
}


.product-image {
    display: inline-block;
}
.product-info {
    position: relative;
    display: inline-block;
    left: 0%;
    width: 49%;
    bottom: 140px
}

.product-info > p{
    background: #E0FFFF;
    height: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 0;
}

.basket {
    position: relative;
    bottom: 100px;
}

p.description{
    background: #F1FDF7;
    padding-bottom: 26%;
}

.user{
    background: #CADDD3;
    border-style: inset;
    border-color: #cacd58;
    width: 36%;
    border-radius: 51%;
    text-align: center;
}

.comment{
    background: #CADDD3;
    border-style: inset;
    border-color: #cacd58;
    width: 73%;
    border-radius: 1%;
}

.add-comment{
    margin-right: 26%;
}

.add-comment form > textarea{
    width: 55%;
}

.pagination-comments {
    margin-right: 27%;
}

.reg {
    margin: auto;
    width: fit-content;
    margin-top: 5%;
}

.restore_password {
    margin-top:5%;
}

.restore_password form ul {
    width: 54%;
    margin-inline: 21%;
}

.restore_password form > p {
    text-align: right;
    margin-right: 37%;
}

form.log {
    margin-top: 5%;
    text-align: left;
    margin-inline: auto;
    width: 30%;
}

.log input:nth-child(3) {
    position: relative;
    left: 40%;
}

.login p > a {
    text-decoration: none;
}