#conteiner {
	max-width: 1500px;
	margin: auto;
}
.myshop > a {
    display: inline;
    margin-left: 32%;
    font: 150px Brush Script MT;
    letter-spacing: 15px;
    color: #50a1b9;
}

.myshop {
    display: inline-block;
    width: 1180px;
}

.profile-info {
    display: inline-block;
    width: 315px;
}

nav {
	display: inline-block;
	width: 100%
}

nav > ul{
	display: inline-block;
	width: 60%;
    margin-left: 21%;
}

nav > form{
	display: inline-block;
    width: 16%;
}

.top-menu li {
	display: inline-block;
	padding: 10px 12%;
	margin: 0;
}

nav li {
	list-style-position: inside;
	font: 14px Oswald, sans-serif;
	padding: 4%;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
    text-decoration: none
}

aside {
    width: 20%;
    float: left;
}

.main_body {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    min-height: 400px;
}

.aside-menu li {
    list-style-type: square;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu > h1,h2 {
	text-align: center;
}

aside > h2 {
	background: #29c5e6;
	font: 90% 'Oswald', sans-serif;
	color: #fff;
	padding: 4%;
	margin: 7% 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

.aside-menu li a {
    text-decoration: none;
    color: #ff0909;
}

aside h2 a {
    text-decoration: none;
    color: #ff0909;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

.footer {
    text-align: end;
}

.line {
    margin-top: 1%;
    border: none;
    box-shadow: 0 0 3px 1px black;
}

.tab {
    width: 70%;
    margin-inline: 15%;
}

.publish {
    background: #29c5e6;
    border: 1px solid;
    line-height: 2em;
    margin-bottom: 0px;
    margin-top: 20px;
}

.post {
    background: #E0FFFF;
}

.post > p {
    margin-top: 0px;
    margin-bottom: 0px;
    
}