{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>
<body>
    <div id="conteiner">
            <header>
                <div class="myshop">
                    <a href="/">My shop</a>
                </div>
                <div class="profile-info">
                    {% if request.path != '/accounts/login/' %}
                        {% include 'temp_login.html' %}
                    {% endif %}
                    {% if user.is_authenticated %}
                        <p><a href="/basket/">Корзина {{total}} руб</a></p>
                    {% endif %}
                </div>
            </header>
            <nav>
                <ul class="top-menu">
                    {% for key, value in names_menu.items %}
                        {% if key == request.path %}
                            <li class="active">{{value}}</li>
                        {% else %}
                            <li><a href="{{key}}">{{value}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <form action="{% url 'find_product' %}" method="post">
                    {% csrf_token %}
                    <td>{{ find_form.find_product }}</td>
                    <input type="submit" value="Поиск">
                </form>
            </nav>
            <aside>
                <nav>
                    <ul class="aside-menu">
                        {% if products_sale %}
                        <h1>Распродажа</h1>
                        {% for product in products_sale%}
                            {% if product.product_of_the_day == False %}
                                {% if "/products/"|add:product.name in request.path %}
                                    <li class="active">{{product.name}} - {{product.get_price}} руб</li>
                                {% else %}
                                    <li><a href="{% url 'product' product.name %}">{{product.name}} - {{product.get_price}} руб</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </nav>
                {%if product_of_the_day%}
				    <h2>Товар дня = {{product_of_the_day.get_price}} !!!</h2>
                    {% if "/products/"|add:product_of_the_day.name in request.path %}
						<p><img src="{{product_of_the_day.image.url}}" width="100%" height="100%"></a></p>
                    {% else %}
						<p><a href="{% url 'product' product_of_the_day.name %}"><img src="{{product_of_the_day.image.url}}" width="100%" height="100%"></a></p>
                    {% endif %}
                {%else%}
                    <h2>Нет товара дня</h2>
                    <p><img src="/static/images/noImage.png" width="100%" height="100%"></p>
                {% endif %}
            </aside>
            <div class='main_body'>
                {% for key, value in names_menu.items %}
                    {% if key == request.path %}
                        <h1 class="head">{{value|upper}}</h1>
                    {% endif %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        <footer class="footer">
            <p class="line"></p>
            <div>
                ©Copyright
            </div>
        </footer>
    </div>
</body>
</html>

