{% extends "base_generic.html" %}
{% block title %}Basket{% endblock title %}

{% block body %}
<div class = "basket-de">
	{% for product in basket%}
		<div class="basket-product">
			<img src="{{ product.product.image.url }}" style="width: 15%;"/>
			<p>Price: {{product.price}}</p>
				<form action="{% url 'basket_add' product.product.name %}" method="post">
					{% csrf_token %}
					<label for="{{ basket_form.quantity.id_for_label }}">Count: </label>
                    <input id="{{ basket_form.quantity.id_for_label }}" type="number" name="quantity" min="0" required="" value="{{product.quantity}}">
					{#{{basket_form.quantity}}#}
					{{basket_form.update}}
					<input type="submit" value="Add to basket">
				</form>
			<p>Total price:{{product.total_price}}</p>
            <span>
				<form action="{% url 'basket_remove' product.product.name %}">
					<input type="submit" value="x">
				</form>
			</span>
		</div>
	{% endfor %}
	{% if total %}
		<p>Total: {{total}}</p>
	{% else %}
		<p>The basket is empty.</p>
	{% endif %}
</div>
{% endblock %}