{% extends "base_generic.html" %}
{% block title %}Product{% endblock title %}

{% block body %}
<div class="page">
    <div class="product_single">
        <div class="name"><h2>{{ product.name }}</h2></div>
        <div class="product-image">
            <img src="{{ product.image.url }}" style="width: 300px;"/>
        </div>
        <div class="product-info">
            {% if product.sell %}
                <p class="price">
                    <s>{{ product.price }} руб</s>
                    <font color="red" size="5">{{ product.sell }} руб</font>
                </p>
            {% else %}
                <p class="price">{{ product.price }} руб</p>
            {% endif %}

        <p class="description">{{ product.description }}</p>
        </div>
		<div class="cart">
			<span>
				<form action="{% url "cart_add" product.name %}" method="post">
					{% csrf_token %}
					{{cart_form.quantity}}
					{{cart_form.update}}
					<input type="submit" value="Добавить">
				</form>
			</span>
		</div>
    </div>
    <div class="comments">
        {% with comments as total_comments %}
            <h2>
                Всего {{ total_comments.paginator.count }} комментариев.
            </h2>
        {% endwith %}
        {% for comment in comments %}
            {% if comment.active %}
                <div class="user">
                    {% for key,value in dict_count.items %}
                        {% if key == comment.id %}
                            <p>Comment {{ value }} by {{comment.author}} </p>
                        {% endif %}
                    {% endfor %}
                    {% if request.user == comment.author %}
                        <a href="{{request.path}}?editable_comment_id={{comment.id}}">Редактировать</a>
                    {% endif %}
                </div>
                <div id="{{comment.id}}" class="comment">
                {% if editable_comment_id == comment.id %}
                    <form action="" method="post">
                      {% csrf_token %}
                      <textarea name="edit_comment">{{comment.body}}</textarea></br>
                      <input type="submit" name="post" class="submit-post" value="Отправить">
                    </form>
                    </div>
                {% else %}
                        <div class="date">
                            <span>{{comment.created}}</span>
                            {% if comment.created != comment.updated %}
                                <span>(Update:{{comment.updated}})</span>
                            {% endif %}
                            <p class="line"> </p>
                        </div>
                        <div class="comment-text">
                            {{comment.body|linebreaksbr}}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% empty %}
            <div class="comment"><p>Нет комментариев</p></div>
        {% endfor %}
    <div class="pagination-comments">
    {% include "pagination.html" with page=comments %}
    </div>
    </div>

    <div class="add-comment">
        {% if user.is_authenticated %}
            <h2>Написать новый комментарий</h2>
            <form action="." method="post">
                {{comment_form.body}}
                {% csrf_token %}
                <p><input type="submit" value="Отправить"></p>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
