{% extends "base_generic.html" %}
{% block title %}Product{% endblock title %}

{% block body %}
<div class="page">
    <div class="product">
        <div class="name"><p>{{ product.name }}</p></div>
        <div class="product-image">
            <img src="{{ product.image.url }}" style="width: 25%;"/>
        </div>
        <div class="product-info">
            {% if product.sell %}
                <p class="price">
                    <s>{{ product.price }} руб</s>
                    <font color="red" size="5">{{ product.sell }} руб</font>
                </p>
            {% else %}
                <p class="price">{{ product.price }} руб</p>
            {% endif %}
    
        <p class="description">{{ product.description }}</p>
        </div>
		<div class="basket">
			<span>
				<form action="{% url "basket_add" product.name %}" method="post">
					{% csrf_token %}
					{{basket_form.quantity}}
					{{basket_form.update}}
					<input type="submit" value="Add to basket">
				</form>
			</span>
		</div>
    </div>
    <div class="comments">
        {% with comments as total_comments %}
            <h2>
                Total of {{ total_comments.paginator.count }} comment{{ total_comments|pluralize }}
            </h2>
        {% endwith %}
        {% for comment in comments %}
            {% if comment.active %}
                <div class="user">
                    {% for key,value in dict_count.items %}
                        {% if key == comment.id %}
                            <p>Comment {{ value }} by {{comment.author}} </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="comment">
                    <div class="date">
                        <span>{{comment.created}}</span>
                        {% if comment.created != comment.updated %} 
                            <span>(Update:{{comment.updated}})</span>
                        {% endif %}
                        <p class="line"> </p>
                    </div>
                    <div class="comment-text">
                        <p>{{comment.body}}</p>
                    </div>
                </div>
            {% endif %}
            {% empty %}
            <div class="comment"><p>No comments.</p></div>
        {% endfor %}
    <div class="pagination-comments">
    {% include "pagination.html" with page=comments %}        
    </div>
    </div>

    <div class="add-comment">
        {% if user.is_authenticated %}
            <h2>Add a new comment</h2>
            <form action="." method="post">
                {{comment_form.body}}
                {% csrf_token %}
                <p><input type="submit" value="Add comment"></p>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
