{% extends "base_generic.html" %}
{% block title %}Products{% endblock title %}

{% block body %}
{% if list_products %}
    <div class="products">
    {% for product in list_products %}
        <div class="product">
        
        <a href="/products/{{ product.name }}/">{{ product.name }}</a>
        {% if product.sell %}
            <p>
                <s>{{ product.price }} руб</s>
                <font color="red" size="5">{{ product.sell }} руб</font>
            </p>
        {% else %}
            <p style="margin-bottom: 4%; margin-top: 6%;">{{ product.price }} руб</p>
        {% endif %}
		<img src="{{ product.image.url}}"/>
		<form action="{% url 'basket_add' product.name %}" method="post">
            {% csrf_token %}
            {% if product.id in basket.basket.keys %}
                <label for="{{ basket_form.quantity.id_for_label }}">Count: </label>
            {% endif %}
            {% for key, value in basket.basket.items %}
                {% if product.id == key %}
                    <input id="{{ basket_form.quantity.id_for_label }}" type="number" name="quantity" min="0" required="" value="{{value.quantity}}" style="width: 40px;">
                {% endif %}
            {% endfor %}
			{{basket_form.update}}
			<input class="add-basket" type="submit" value="Add to basket">
		</form>
        </div>
    {% endfor %}
    </div>
    <div class="pagination-products">
    {% include "pagination.html" with page=list_products %}
    </div>
{% else %}
    <p>No product are available.</p>
{% endif %}
{% endblock %}
