{% if not user.is_authenticated %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <form class="log" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>

  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>

  <tr>
    <td><label for="id_password">Пароль: </label></td>
    <td><input id="id_password" name="password" type="password" autocomplete="current-password"></td>
    <!-- <td>{{ form.password }}</td> -->
  </tr>
  </table>

  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{% url 'login' %}?next={{request.path}}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  <p><a href="{% url 'register' %}">Register</a></p>
{% else %}
  <p>Hello, {{user.username}}!!!</p>
  <a href="/accounts/profile/">Profile</a>
  {% if request.path == '/accounts/profile/' %}
    <a href="{% url 'logout' %}?next=/">Выйти</a>
  {% else %}
    <a href="{% url 'logout' %}?next={{request.path}}">Выйти</a>
  {% endif %}
{% endif %}