{% extends "base_generic.html" %}
{% block body %}
<div class="login">
{% if not user.is_authenticated %}
  {% if form.errors %}
    <p>Имя пользователя или пароль не найдены. Попробуйте ещё</p>
  {% endif %}

<form class="log" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <p>
    <label for="{{ form.username.id_for_label }}">Имя пользователя: </label>
    {{form.username}}
    {{form.username.errors}}
  </p>
  <p>
    <label for="{{ form.password.id_for_label }}">Пароль: </label>
    {{form.password}}
    {{form.password.errors}}
  </p>
  <input type="submit" value="login" />
  {% if request.path == "/accounts/login/" %}
    <input type="hidden" name="next" value="{% url 'login' %}?next=/" />
  {% else %}
    <input type="hidden" name="next" value="{% url 'login' %}?next={{request.path}}" />
  {% endif %}
</form>

<p><a href="{% url 'password_reset' %}">Восстановить пароль</a></p>
<p><a href="{% url 'register' %}">Регистрация</a></p>
{% else %}
<p>Hello, {{user.username}}!!!</p>
<a href="{% url 'logout' %}?next={{request.path}}">Выйти</a>
{% endif %}
</div>
{% endblock body %}

