{% extends "base_generic.html" %}
{% block title %}Сбросьте свой пароль{% endblock %}

{% block body %}
    <div class="restore_password">
    <h1>Сбросьте свой пароль</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому, 
            что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
    {% endif %}
    </div>
{% endblock %}