{% extends "base_generic.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="page">
<form class="reg" method="post">
    <h1>Sign up</h1>
    {% csrf_token %}
	<table>
	<tr>
		<td><label for="{{ reg.username.id_for_label }}">Username: </label></td>
		<td>{{reg.username}}</td>
	</tr>
	<tr>
		<td><label for="{{ reg.email.id_for_label }}">Email: </label></td>
		<td>{{reg.email}}</td>
	</tr>
	<tr>
		<td><label for="{{ reg.date_of_birth.id_for_label }}">Date of birth: </label></td>
		<td>{{reg.date_of_birth}}</td>
	</tr>
	<tr>
		<td><label for="{{ reg.password1.id_for_label }}">Password: </label></td>
		<td>{{reg.password1}}</td>
	</tr>
	<tr>
		<td><label for="{{ reg.password2.id_for_label }}">Password(confirm): </label></td>
		<td>{{reg.password2}}</td>
	</tr>
	</table>
  {#{ reg.as_p }#}
  <button type="submit">Sign up</button>
</form>
</div>
{% endblock body %}